# Dependencias de Node.js
node_modules/

# Logs de la aplicación
logs/

# Archivos de base de datos (si no deseas versionarlos)
bd.sql

# env files (can opt-in for committing if needed)
.env*


# Archivos de compilación o temporales (si los hubiera)
# dist/
# build/
