@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.fondoHome {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    background-color: white;
    border-bottom: 1px solid transparent;
    padding: 0 16px;
}

.headerLeft {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
}

.headerLeft img {
    width: 100%;
    height: auto;
    max-height: 9vh;
    object-fit: contain;
}

.headerCenter {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    font-size: 1.5rem;
    font-family: "JetBrains Mono", monospace;
    font-weight: 800;
    font-style: italic;
}

.headerRight {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

/*Contenido*/
.contenidoHome {
    height: 70vh;
    padding: 1rem;
    background-color: #ffffff;
}
.FiltrosCursos {
    display: flex;
    align-items: center;
    gap: 20px; /* Use gap to add space between items */
}
/*Footer*/
.contenidoFooter {
    padding: 1rem;
    background-color: #f0f0f0;
    text-align: center;
    border-top: 1px solid #ccc;
}
